.button{margin-left:10px;cursor:pointer;border-radius:3px;font-size:12px;display:none;background-color:#52A691;color:#fff;line-height:18px;padding:0px 6px 0 6px}
.add-fav-dou{display:none}
.play-in-dou{opacity:0.5; }
.play-in-dou:hover{opacity:1.0}
#playing{position:fixed;right:5px;top:5px;line-height:30px;font-size:15px;background-color:#52A691;color:#fff;padding:0px 10px 0px 10px;z-index:9999;display:none;border-radius:5px;}
#playing span{text-align:center;}
