<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="css/popup.css">		
	</head>
	<body>
		<div id="notify">
			<a href="#" id="notify_close" title="未登录将无法收藏歌曲，频道等操作">x</a>
			<p>您尚未登录豆瓣电台! <a href="https://www.douban.com/accounts/login" style="color:red" target="_blank" title="未登录将无法收藏歌曲，频道等操作" seed="click_login">点此登录</a></p>
		</div>
		<div class="container">
			<div id="history_list" class="component">
			</div>
			<div id="main" class="component">	
			</div>
			<div id="channels" class="component">
				<div class="top" style="width:180px">
					<a id="op-fav-channel"  href="#" class='star button' style="line-height:20px"></a><span  id="currentChannel" class="songInfo fn-overflow-ellipsis" style="width:126px;line-height:20px"></span>
				</div>
				<div id="channelList" class="scroll">
					<div id="myFav" style="margin-top:25px">loading..</div>
					<div id="total">loading..</div>
				</div>
			</div>
		</div>
		<script src="scripts/sea.js"></script>
		<script src="scripts/popup.js"></script>
		<script type="scripts/template" id="t_songInfo">
			<div class="top">
				<span id="title" class="songInfo fn-overflow-ellipsis" title="<%=currentSong.title%>" seed="click_album"><%=currentSong.title%></span>
				<a id="artist" class="songInfo fn-overflow-ellipsis" title="<%=currentSong.artist%>--<%=currentSong.albumtitle %>"  href="http://music.douban.com<%=currentSong.album%>" target="_blank" seed="click_album" ><%=currentSong.artist %>--<%=currentSong.albumtitle %></a>
			</div>
			<div id="cd">
				<% if (playing) { %>
					<div id="cover" class="rotate rotating" style='background-image:url(<%= currentSong.picture %>)' >
					</div>
					<div id="control"><a  href="#"  class="button playing hidden"></a></div>
				<% }else{  %>
					<div id="cover" class="rotate fadeout" style='background-image:url(<%= currentSong.picture %>)'>
					</div>
					<div id="control"><a  href="#"  class="button paused"></a></div>
				<%}%>
				<input id="range" class="hover-fadeIn" type="range" value="<%=volume*100%>"/>
				<div class="bottom_left">
					<span id="timer"></span>
				</div>
				<div class="bottom_right">
					<a id="replay" href="#" class="button <% if (!isReplay) { %> hover-fadeIn<%}%>" seed="click_replay" ></a>
				</div>
				<div id="played"></div>
			</div>
			<div id="bottom">
				<ul id="operation">	
					<!--
					<li id="share" style="margin-right:0px">
						<a href="#" class="hover_fadeOut button share" style="margin-right:0px"></a>
						<ul id="shareList">
							<li><a id='shareDouban' href="#" seed="click_share_douban"></a></li>
							<li><a id='shareWeibo'  href="#" seed="click_share_weibo"></a></li>
						</ul>
					</li>
					-->
					<li op='b'><a href="#" id="history" class="hover_fadeOut button history" seed="click_delete"></a></li>	
					<li op='b'><a href="#" id="delete" class="hover_fadeOut button delete" seed="click_delete"></a></li>
					<% if (currentSong.like) { %>
						<li><a href="#" id="like" class="hover_fadeOut button like" seed="click_unlike"></a></li>
					<% }else{  %>
						<li><a href="#" id="like" class="hover_fadeOut button unlike" seed="click_like"></a></li>
					<%}%>
					<li op='s'><a href="#" id="skip" class="hover_fadeOut button skip" seed="click_skip"></a></li>
					<li><a href="#" id="search" class="hover_fadeOut button search" title="正在收听：<%=localStorage.channelName%>Hz" seed="click_channels"></a></li>	
				</ul>
			</div>				
		</script>
		<script type="scripts/template" id="t_channels">
					<% _.forEach(groups,function(group){%>
						<% if(group.group_id!=0){%>
							<div class="channel_group">
							<span class="channel_group_title"><%=group.group_name%></span>
								<% _.forEach(group.chls,function(ch){%>
									<a class="channel_item <% if(ch.id==localStorage.channelId){%> channel_item_selected<%}%>" href="#" cid="<%=ch.id%>"  collected="<%=ch.collected%>" title="<%=ch.name%>" seed="click_changeChannel"><%=ch.name%></a>
								<%})%>
							</div>
						<%}%>
					<%})%>
		</script>
		<script type="scripts/template" id="t_favchannels">
			
			<div class="channel_group" id="fav_channels">
				<span class="channel_group_title">我的兆赫</span>
				<a class="channel_item channel_item <% if(0==localStorage.channelId){%> channel_item_selected<%}%>" href="#" cid="0" collected="disable" title="私人" >私人</a>
				<a id="redHeart" class="channel_item channel_item <% if(-3==localStorage.channelId){%> channel_item_selected<%}%>" href="#" cid="-3" collected="disable" title="红心">红心</a>
				<%if(channels.length>0){%>
				<% _.forEach(channels,function(ch){%>
					<a class="channel_item <% if(ch.id==localStorage.channelId){%> channel_item_selected<%}%>" href="#" cid="<%=ch.id%>" collected="true" title="<%=ch.name%>" seed="click_changeChannel"><%=ch.name%><span class='unfav' style="float:right;margin-right:10px" cid='<%=ch.id%>'>x</span></a>
				<%})%>
				<%}%>
			</div>
		</script>
		<script type="scripts/template" id="t_historyList">
			<div class="top" style="width:180px">
					<span style="line-height:25px;font-weight:bold">最近播放</span>
			</div>
			<div class="scroll fn-list" style="padding-top:29px;height:227px">
				<!-- foreach start-->
				<% if(historyList.length<=0){%>
					<div>还没有本地播放记录哦~~~</div>
				<%}%>
				<% _.forEach(historyList,function(song){%>
				<li class="song_item">
					<a class="op-direct-play fn-overflow-ellipsis" href="#" sid='<%=song.sid%>' style="width:145px;" title="<%=song.title%>--<%=song.artist%>">
						<%=song.title%>
					</a>
					<% if (song.like==1) { %>
					<a href="#" class='like button op-direct-toggle-like' style="float:right;" sid='<%=song.sid%>'></a>
					<% }else{ %>
					<a href="#" class='unlike button op-direct-toggle-like' style="float:right;" sid='<%=song.sid%>'></a>
					<%}%>
				</li>
				<%})%>
				<!-- foreach end -->
				<li class="song_item">
					<a  href="http://douban.fm/mine#!type=played" target="_blank">查看更多播放记录</a>
				</li>
			</div>
		</script>
	</body>
</html>