<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="static/popup/1.0.0/popup.css">		
	</head>
	<body>
		<div id="notify">
			<a href="#" id="notify_close" title="未登录将无法收藏歌曲，频道等操作">x</a>
			<p>您尚未登录豆瓣电台! <a href="https://www.douban.com/accounts/login" style="color:red" target="_blank" title="未登录将无法收藏歌曲，频道等操作" seed="click_login">点此登录</a></p>
		</div>
		<div class="container">
			<div id="history" class="component"></div>
			<div id="main" class="component"></div>
			<div id="channels" class="component">
				<div class="header">
					<h4  id="currentChannel" class="fn-overflow-ellipsis"></h4>
					<a id="J-fav-channel"  href="#" class='star button fn-overflow-ellipsis'></a>
				</div>
				<div class="scroll">
					<div id="private-channel"></div>
					<div id="public-channel"></div>
				</div>
			</div>
		</div>
		<script src="scripts/sea.js"></script>
		<script src="scripts/popup.js"></script>
		<script type="scripts/template" id="t_songInfo">
			<div class="header">
				<h3  id="J-song-title" class="fn-overflow-ellipsis" title="<%=currentSong.title%>" seed="click_album"><%=currentSong.title%></h3>
				<h4 class="fn-overflow-ellipsis">
					<a id="J-song-artist" title="<%=currentSong.artist%>--<%=currentSong.albumtitle %>"  href="http://music.douban.com<%=currentSong.album%>" target="_blank" seed="click_album" >
						<%=currentSong.artist %>--<%=currentSong.albumtitle %>
					</a>
				</h4>
			</div>
			<div id="cd">
				<% if (playing) { %>
					<div id="cover" class="fn-rotating" style='background-image:url(<%= currentSong.picture %>)' ></div>
					<div class="play-btn-wrapper J-playing"><a  id="J-toggle-play" href="#"  class="button playing hidden"></a></div>
				<% }else{  %>
					<div id="cover" class="fn-rotating fn-rotating-paused fadeout" style='background-image:url(<%= currentSong.picture %>)'></div>
					<div class="play-btn-wrapper"><a  id="J-toggle-play" href="#"  class="button paused"></a></div>
				<%}%>
				<input id="range" class="fn-hover-fadein" type="range" value="<%=volume*100%>"/>
				<span id="timer" class="bottom-left"></span>
				<div class="bottom-right">	
					<a  href="#" class="iconfont weibo fn-hover-fadein J-social-share" seed="click_share_weibo" share_target="weibo"></a>
					<a  href="#" class="iconfont douban fn-hover-fadein J-social-share" seed="click_share_douban" share_target="douban"></a>
					<a id="J-replay"  href="#" class="button replay <% if (!isReplay) { %>fn-hover-fadein<%}%>" seed="click_replay" ></a>
				</div>
				<div id="played"></div>
			</div>
			<div id="controller" class="clear">
				<ul>	
					<li><a href="#" id="J-btn-history" class="fn-hover-fadeout button history" seed="click_history"></a></li>	
					<li><a href="#" id="J-btn-delete" class="fn-hover-fadeout button delete" seed="click_delete"></a></li>
					<% if (currentSong.like) { %>
						<li><a href="#" id="J-btn-like" class="fn-hover-fadeout button like" seed="click_unlike"></a></li>
					<% }else{  %>
						<li><a href="#" id="J-btn-like" class="fn-hover-fadeout button unlike" seed="click_like"></a></li>
					<%}%>
					<li><a href="#" id="J-btn-skip" class="fn-hover-fadeout button skip" seed="click_skip"></a></li>
					<li><a href="#" id="J-btn-channel" class="fn-hover-fadeout button search" title="正在收听：<%=localStorage.channelName%>Hz" seed="click_channels"></a></li>	
				</ul>
			</div>				
		</script>
		<script type="scripts/template" id="t_channels">
			<% _.forEach(groups,function(group){%>
				<% if(group.group_id!=0){%>
					<h5><%=group.group_name%></h5>
					<ul class="item-list">
						<% _.forEach(group.chls,function(ch){%>
							<li class="<% if(ch.id==localStorage.channelId){%> item-selected<%}%>">
								<a class="J-channel-item" href="#" cid="<%=ch.id%>"  collected="<%=ch.collected%>" title="<%=ch.name%>" seed="click_changeChannel">
									<%=ch.name%>
								</a>
							</li>
						<%})%>
					</ul>
				<%}%>
			<%})%>
		</script>
		<script type="scripts/template" id="t_favchannels">
			
			<div class="channel-group" id="fav_channels">
				<h5>我的兆赫</h5>
				<ul class="item-list">
					<li class="<%if(0==localStorage.channelId){%> item-selected<%}%>">
						<a  class="fn-overflow-ellipsis J-channel-item" href="#" cid="0" collected="disabled" title="私人" >
							私人
						</a>
					</li>
					<li class="<% if(-3==localStorage.channelId){%> item-selected<%}%>">
						<a  class="fn-overflow-ellipsis J-channel-item" href="#" cid="-3" collected="disabled" title="红心">
							红心
						</a>
					</li>				
				<%if(channels.length>0){%>
				<% _.forEach(channels,function(ch){%>
					<li class="<% if(ch.id==localStorage.channelId){%> item-selected<%}%>">
					<a  class="fn-overflow-ellipsis J-channel-item" href="#" cid="<%=ch.id%>" collected="true" title="<%=ch.name%>" seed="click_changeChannel"><%=ch.name%>
					</a>	
					<a href="#" class="J-btn-unfav-channel button delete" cid="<%=ch.id%>"></a>
					</li>
				<%})%>
				<%}%>
				</ul>
			</div>
		</script>
		<script type="scripts/template" id="t_historyList">
			<div class="header">
				<h4 class="fn-overflow-ellipsis">最近播放</h4>
			</div>
			<ul class="scroll item-list">
				<!-- foreach start-->
				<% if(historyList.length<=0){%>
					<div>还没有本地播放记录哦~~~</div>
				<%}%>
				<% _.forEach(historyList,function(song){%>
				<li>
					<a class="J-direct-play fn-overflow-ellipsis song-item" href="#" sid='<%=song.sid%>' title="<%=song.title%>--<%=song.artist%>" seed="click_directPlay">
						<%=song.title%>
					</a>
					<% if (song.like==1) { %>
					<a href="#" class='like button J-direct-toggle-like' seed="click_directLike" sid='<%=song.sid%>'></a>
					<% }else{ %>
					<a href="#" class='unlike button J-direct-toggle-like' seed="click_directLike" sid='<%=song.sid%>'></a>
					<%}%>
				</li>
				<%})%>
				<!-- foreach end -->
				<li>
					<a  href="http://douban.fm/mine#!type=played" target="_blank">查看更多播放记录</a>
				</li>
			</ul>
		</script>
	</body>
</html>